<?xml version="1.0" encoding="utf-8" ?>
<webApplicationDeployment>
  <applicationPool name="Sawmill" autoStart="true" enable32BitAppOnWin64="true" managedPipelineMode="Integrated" managedRuntimeVersion="v4.0" />
  <site name="Sawmill" serverAutoStart="true">
    <applicationDefaults applicationPoolName="Sawmill" enabledProtocols="http" />
    <applications>
      <clear />
      <add path="/" physicalPath="C:\Websites\Sawmill" applicationPoolName="Sawmill" enabledProtocols="http" />
    </applications>
    <bindings>
      <clear />
      <add protocol="http" information="*:80:sawmill.co.uk" />
      <add protocol="http" information="*:3641:*" />
    </bindings>
  </site>
  <package path="Sawmill.zip" />
</webApplicationDeployment>