<?xml version="1.0" encoding="utf-8" ?>
<webApplicationDeployment packageFile="WebApplication.zip">
  <applicationPool name="WebApplication" autoStart="true">
    <cpu>
      <action>NoAction</action>
      <limit>5000</limit>
      <resetInterval>16:54:21</resetInterval>
      <smtpAffinitized>false</smtpAffinitized>
      <smpProcessorAffinityMask>16564135</smpProcessorAffinityMask>
      <smpProcessorAffinityMask2>611664816</smpProcessorAffinityMask2>
    </cpu>
    <enable32BitAppOnWin64>true</enable32BitAppOnWin64>
    <failure>
      <autoShutdownExe></autoShutdownExe>
      <autoShutdownParams></autoShutdownParams>
      <loadBalancerCapabilities>TcpLevel</loadBalancerCapabilities>
      <orphanActionExe></orphanActionExe>
      <orphanActionParams></orphanActionParams>
      <orphanWorkerProcess>false</orphanWorkerProcess>
      <rapidFailProtection>true</rapidFailProtection>
      <rapidFailProtectionInterval>00:00:30</rapidFailProtectionInterval>
      <rapidFailProtectionMaxCrashes>3</rapidFailProtectionMaxCrashes>
    </failure>
    <managedPipelineMode>Integrated</managedPipelineMode>
    <processModel>
      <identityType>NetworkService</identityType>
      <idleTimeout>00:30:00</idleTimeout>
      <loadUserProfile>false</loadUserProfile>
      <maxProcesses>50</maxProcesses>
      <password>1234</password>
      <pingingEnabled>true</pingingEnabled>
      <pingInterval>00:00:30</pingInterval>
      <pingResponseTime>00:00:15</pingResponseTime>
      <shutdownTimeLimit>00:00:30</shutdownTimeLimit>
      <startupTimeLimit>00:01:00</startupTimeLimit>
      <userName>SomeUserName</userName>
    </processModel>
    <queueLength>65468461</queueLength>
    <recycling>
      <disallowOverlappingRotation>false</disallowOverlappingRotation>
      <disallowRotationOnConfigChange>false</disallowRotationOnConfigChange>
      <logEventOnRecycle>None</logEventOnRecycle>
      <periodicRestart>
        <memory>46648615</memory>
        <privateMemory>116564</privateMemory>
        <requests>5446516</requests>
        <schedule>
          <time>31:15:02</time>
          <time>36:43:26</time>
        </schedule>
        <time>31:15:02</time>
      </periodicRestart>
    </recycling>
  </applicationPool>
  <site name="WebApplication" serverAutoStart="true">
    <applicationDefaults>
      <applicationPoolName>WebApplication</applicationPoolName>
      <enabledProtocols>http</enabledProtocols>
    </applicationDefaults>
    <applications>
      <clear />
      <add path="/">
        <applicationPoolName>WebApplication</applicationPoolName>
        <enabledProtocols>http</enabledProtocols>
      </add>
    </applications>
    <bindings>
      <clear />
      <add protocol="http" information="*:80:application.host.com" />
      <add protocol="http" information="*:1234:*">
        <certificateHash></certificateHash>
        <certificateStoreName></certificateStoreName>
        <useDsMapper>true</useDsMapper>
      </add>
    </bindings>
    <limits>
      <connectionTimeout>00:30:00</connectionTimeout>
      <maxBandwidth>648615645</maxBandwidth>
      <maxConnections>1562</maxConnections>
    </limits>
    <logFile>
      <customLogPluginClsid>d2aec579-6dcb-4a6c-8f52-3285de9a2ade</customLogPluginClsid>
      <directory>E:\Logs</directory>
      <enabled>true</enabled>
      <localTimeRollover>00:00:00</localTimeRollover>
      <logExtFileFlags>ComputerName</logExtFileFlags>
      <logFormat>W3c</logFormat>
      <period>Daily</period>
      <truncateSize>4616544</truncateSize>
    </logFile>
    <traceFailedRequestsLogging>
      <directory>E:\FailedRequests</directory>
      <enabled>true</enabled>
      <maxLogFiles>641564</maxLogFiles>
    </traceFailedRequestsLogging>
    <virtualDirectoryDefaults>
      <logonMethod>Interactive</logonMethod>
      <password>secret</password>
      <userName>ServiceAccount</userName>
    </virtualDirectoryDefaults>
  </site>
</webApplicationDeployment>